/* 
  ARCHIVO: base.css
  Hoja de estilos principal para el sitio web
  tiene cosas comunes a todas las paginas
  la pagina principal tiene particularidades que estan en index.css
*/


/* ------------------------------ CONTENEDOR --------------------------------------------- */
/* contenedor con atributos genericos iniciales */
.contenedor {
    max-width: 1024px;	/* maximo ancho 1200px    */
    margin:    0 auto;	/* centro horizontalmente */
}

/* ------------------------------ h1, h2 y h3 --------------------------------------------- */
h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow:        2px 2px 4px rgba(0, 0, 0, .01);   /* sombra debajo de texto */
}


/* ------------------------------ NAVEGACIÓN ---------------------------------------------- */
/* navegacion (menu) */
nav {
    position:           sticky;     /* el menu se mantiene arriba */
    top:                0;          /* en el tope de la pagina */
    background-color: #2c3e50;
    display:            flex;
}

/* lista de elementos del menu */
nav ul {
    list-style: none;   /* quito los puntos de la lista */
    display:    flex;   /* flexbox para menu horizontal */
    flex-wrap:  wrap;   /* permite que los elementos bajen a siguiente línea */
    gap:        10px;   /* espacio entre elementos */
}

/* enlaces del menu */
nav ul li a {
    color:         white;
    text-decoration: none;				        /* quito el subrayado */
    padding:         6px 6px;
    border-radius:   5px;					    /* bordes redondeados */
    transition:      background-color 0.4s;     /* transicion suave al hacer hover */
    display:         inline-block;
}

/* Efecto hover en enlaces de navegación */
nav ul li a:hover {
    text-shadow:        2px 2px 4px rgba(0, 0, 0, 1);   /* sombra debajo de texto */
    transform:          translate(-1px, -1px);            /* traslado el texto un pixel arriba y a la izquierda */
    background-color: #3498db;
}



/* ------------------------------ ENCABEZADO Y PIE DE PÁGINA (COMÚN) --------------------------------------- */
header, footer {
    color:            white;
    background-color: #2c3e50;    /* Azul oscuro */
    text-align:         center;
    padding:            2em 0;      /* padding relativo al tamaño de fuente */
}

/* ------------------------------ ENCABEZADO --------------------------------------------- */
header {
    margin-bottom: 2em;
}

header .contenedor p {
    font-size: 1.1em;   /* el subtitulo un poco mas grande */
}

/* ------------------------------ PIE DE PÁGINA ------------------------------------------- */
footer {
    margin-top: 2em;
}





